body {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
}

.header-hero-image {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/welcome_bg.jpg');
  min-height: 15em;
  height: 50%;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
}

.header-hero-text {
  color: white;
  text-align: center;
}

.header-hero-text h1 {
  color: brown;
  font-size: 290% !important;
}

.header-hero-text p {
  margin: 0;
}

.header-hero-text strong {
  font-size: .8rem;
  font-style: italic;
}

footer {
  display: block;
  padding: 50px 0;
  background-color: #18181a;
  height: auto;
}

.inner_footer {
  display: block;
  height: auto;
  color: white;
}

.footer-text {
  text-align: center;
}

.footer-text p {
  margin: 0;
}

.footer-text strong {
  font-size: .8rem;
  font-style: italic;
}


/* section main */
.estate-planning-image {
  width: 250px;
}

.attorney-image {
  width: 350px;
}

.nav-pills-custom .nav-link {
    color: black;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: white;
    background: brown;
}

/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

@media screen and (max-width: 500px) {

  .header-hero-text h1, .footer-text h1 {
    color: brown;
    font-size: 150% !important;
  }

  .header-hero-text p, .footer-text p {
    margin: 0;
    font-size: 0.7rem;
  }

  .header-hero-text strong, .footer-text strong {
    font-size: .6rem;
    font-style: italic;
  }
}

@media screen and (max-width: 700px) {
   
}

@media screen and (max-width: 900px) {
  
}