* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
}

body, html {
  height: 100%;
}

.header-hero-image {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/welcome_bg.jpg');
  min-height: 15em;
  height: 50%;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
}

.header-hero-text {
  color: white;
  text-align: center;
}

.header-hero-text h1 {
  color: brown;
  font-size: 290%;
}

.header-hero-text strong {
  font-size: .8rem;
  font-style: italic;
}

.hero-main {
  width: 80%;
  height: 450px;
  position: relative;
  margin: 20px auto;
  overflow: hidden;
}

.btn-box {
  display: flex;
  border-bottom: 1px solid #ccc;
  justify-content: center;
}

.btn-box button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin-right: 50px;
  font-size: 18px;
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: center;
  padding: 20px;
  position: absolute;
  /* transform: translateX(100%); */
  opacity: 0;
  transition:  0.7s  ease-in-out;
}

.content-right, .content-left {
  flex-basis: 50%;
}

.content-left {
  font-size: 13px;
}

.content-right {
  text-align: center;
}

.content-right img {
  width: 350px;
}


#content-1{
  /* transform: translateX(0px); */
  opacity: 1;
}

#btn1 {
  color: brown;
}

@media screen and (max-width: 500px) {
  
}

@media screen and (max-width: 700px) {
   
}

@media screen and (min-width: 900px) {
  
}